/* File: style.css 
 * Note: The following file contains coments on this CSS stylesheet you may not agree with.
 */
/* As much as I hate how this is written, I got to get this done. */

/* You really shouldn't set rules for everything. It's how stuff breaks. Especially list elements. */
* {
    margin: 0;      /* This is OK, I guess. */
    padding: 0;     /* You really shouldn't do this. */
}

/* Here's the part where there would a a rule setting the 
 * font-family for the body to sans-serif. Why wasn't that set?
 * This is also where you would set the page background and color,
 * but not to such tacky colors like the ones that were chose fo this assigment.
 */

header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

h1,
h2 {
    text-align: center;
}

/* This is a terrible rule to set for all images, even if it is just for one image. */
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}


ul {
    padding-left: 40px;
    font-size: 20px;
}

/* Centering your paragraphs? Really?! */
p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;             /* GRAY 8: "The Ocho" */
    box-shadow: 5px 10px 5px #888888;   /* Added a third number because this looks better with a blur radius. */
    /* TODO: round your corners with a border-radius */
}

/* Though it is not a requirement, let me add something to make takinge notes about code eaiser. */
code.tag {
    background-color: #eee;         /* an off-white background */
    color: #000;
}
code.tag:before {content: "<"; }    /* Prepend code with the tag class with a < so we don't have to use &lt; */
code.tag:after {content: ">"; }     /* Append code with the tag class with a > so we don't have to use &gt; */

kbd {
    background-color: #eee;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #888;
    /* This is why we don't universally set all of our margins and padding to zero. */
    margin: 1px;
    padding: 1px;
}
