/* File: style.css 
 * Note: The following file contains coments on this CSS stylesheet you may not agree with.
 *       I'm not going to waste my time writing paragraph 
 *      (which I had considered doing three different times, and why this work is late) 
 *       so I wouldn't be taken aside and told how I'm out of line. 
 *       (There text file on my computer of all the things I could have said, 
 *       none of which is offensive.)
 *       I'm 39. I think I know at this age when I'm being a jerk to somebody.
 *       I'm just getting tired of explaining myself to other people.
 */
/* As much as I hate how this is written, I got to get this done. */

/* You really shouldn't set rules for everything. It's how stuff breaks. Especially list elements. */
* {
    margin: 0;      /* This is OK, I guess. */
    padding: 0;     /* You really shouldn't do this. */
}

/* Here's the part where there would a a rule setting the 
 * font-family for the body to sans-serif. Why wasn't that set?
 * This is also where you would set the page background and color,
 * but not to such tacky colors like the ones that were chose fo this assigment.
 */

header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

h1,
h2 {
    text-align: center;
}

/* This is a terrible rule to set for all images, even if it is just for one image. */
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}


ul {
    padding-left: 40px;
    font-size: 20px;
}

/* Centering your paragraphs? Really?! */
p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;             /* GRAY 8: "The Ocho" */
    box-shadow: 5px 10px 5px #888888;   /* Added a third number because this looks better with a blur radius. */
    /* TODO: round your corners with a border-radius */
}
